.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding: 20px;
  z-index: 100;
  view-transition-name: header-menu;
}
