@use '@/styles/abstracts/functions' as *;
@use '@/styles/base/typography' as *;
@use '@/styles/abstracts/variables' as *;
@use 'sass:map';

@mixin button-state-map($state-map) {
  background-color: transparent;

  &:hover {
    background-color: map.get($state-map, hover);
  }

  &:active {
    background-color: map.get($state-map, active);
    color: $btn-state-color;
  }

  &.is-selected {
    background-color: map.get($state-map, selected);
  }
}

@mixin font-size($type-map, $breakpoint: desktop) {
  @if $type-map != null {
    $value: map.get($type-map, $breakpoint);
    font-size: $value;
  } @else {
    @warn "Font size map is null!";
  }
}

@mixin line-height($value) {
  @if $value != null {
    line-height: $value;
  } @else {
    @warn "Font size for `#{$value}` not found!";
  }
}

@mixin letter-spacing($value) {
  @if $value != null {
    letter-spacing: $value;
  } @else {
    @warn "Font size for `#{$value}` not found!";
  }
}

@mixin font-weight($value) {
  @if $value != null {
    font-weight: $value;
  } @else {
    @warn "Font size for `#{$value}` not found!";
  }
}
