$spacers: (
  4: 0.25rem,
  // 4px
  8: 0.5rem,
  // 8px
  12: 0.75rem,
  //13
  13: 0.813,
  // 12px
  16: 1rem,
  // 16px
  24: 1.5rem,
  // 24px
  28: 1.75rem,
  // 28px
  32: 2rem,
  // 32px
  38: 2.375rem,
  // 38px
  46: 2.875rem,
  // 46px
  52: 3.25rem,
  //52px
  56: 3.5rem,
  //58px
  58: 3.625rem,
  // 56px
  60: 3.75rem,
  // 60px
  68: 4.25rem,
  // 68px
  72: 4.5rem,
  // 72px
  116: 7.25rem,
  // 116px
  120: 7.5rem,
  // 120px
  148: 9.25rem,
  // 148px
  172: 10.75rem // 172px,,,,,,,,,,,,,,,,,
);

$btn-state-bg-color: (
  hover: rgba(233, 230, 206, 0.4),
  selected: rgba(233, 230, 206, 1),
  active: rgba(233, 230, 206, 0.4),
);

$logos: (
  nav-logo: (
    mobile: (
      width: 1.875rem,
      height: 2.063rem,
    ),
    tablet: (
      width: 2.438rem,
      height: 2.688rem,
    ),
    desktop: (
      width: 3.063rem,
      height: 3.313rem,
    ),
  ),

  hero-logo: (
    mobile: (
      width: 3.313rem,
      height: 3.625rem,
      mb: 0.625rem,
    ),
    tablet: (
      width: 3.75rem,
      height: 4.063rem,
      mb: 0.75rem,
    ),
    desktop: (
      width: 4.375rem,
      height: 4.813rem,
      mb: 0.875rem,
    ),
  ),
);

$btn-state-color: rgba(0, 0, 0, 0.5);

$btn-padding-y: 0.469rem;
$btn-padding-x: 1.063rem;
$btn-radius: 1.875rem;

$header-bar-padding-y: 1.5rem;
$header-bar-padding-x: 1.25rem;
$header-bar-gap-x: 2.438rem;

$hero-margin-top-sm: 4.563rem;
$hero-margin-top-md: 7.188rem;
$hero-margin-top-lg: 7.5rem;

$hero-margin-bottom-sm: 3.125rem;
$hero-margin-bottom-md: 9.188rem;
$hero-margin-bottom-lg: 10.813rem;

$hero-content-pt-sm: 8.5rem;
$hero-content-pb-sm: 3.125rem;

$hero-content-pt-md: 12.875rem;
$hero-content-pb-md: 9.188rem;

$hero-content-pt-lg: 13.188rem;
$hero-content-pb-lg: 2.5rem;

$hero-height-sm: 16rem;
$hero-height-md: 18.188rem;
$hero-height-lg: 20.438rem;
