$spacers: (
  4: 0.25rem,
  // 4px
  8: 0.5rem,
  // 8px
  10: 0.625rem,
  // 10px
  12: 0.75rem,
  //12px
  13: 0.813rem,
  //13px
  15: 0.938rem,
  // 15px
  16: 1rem,
  // 16px
  19: 1.188rem,
  // 19px
  24: 1.5rem,
  // 24px
  28: 1.75rem,
  // 28px
  30: 1.875rem,
  // 30px
  32: 2rem,
  // 32px
  36: 2.25rem,
  // 36px
  38: 2.375rem,
  // 38px
  46: 2.875rem,
  // 46px
  52: 3.25rem,
  // 52px
  56: 3.5rem,
  // 58px
  58: 3.625rem,
  // 56px
  60: 3.75rem,
  // 60px
  66: 4.125rem,
  // 66px
  68: 4.25rem,
  // 68px
  72: 4.5rem,
  // 72px
  75: 4.688rem,
  // 75px
  90: 5.625rem,
  //90px
  116: 7.25rem,
  // 116px
  120: 7.5rem,
  // 120px
  148: 9.25rem,
  // 148px
  172: 10.75rem,
  // 172px
  205: 12.813rem,
  // 205px
);

$btn-state-bg-color: (
  hover: rgba(233, 230, 206, 0.4),
  selected: rgba(233, 230, 206, 1),
  active: rgba(233, 230, 206, 0.4),
);

$drawer-btn-state-bg-color: (
  selected: rgba(223, 135, 56, 1),
);

$logos: (
  nav-logo: (
    mobile: (
      width: 1.875rem,
      height: 2.063rem,
    ),
    tablet: (
      width: 2.438rem,
      height: 2.688rem,
    ),
    desktop: (
      width: 3.063rem,
      height: 3.313rem,
    ),
  ),

  footer-logo: (
    mobile: (
      width: 3rem,
      height: 3.25rem,
    ),

    desktop: (
      width: 3.75rem,
      height: 4.063rem,
    ),
  ),

  hero-logo: (
    mobile: (
      width: 3.313rem,
      height: 3.625rem,
      mb: 0.625rem,
    ),
    tablet: (
      width: 3.75rem,
      height: 4.063rem,
      mb: 0.75rem,
    ),
    desktop: (
      width: 4.375rem,
      height: 4.813rem,
      mb: 0.875rem,
    ),
  ),
);

$color-off-white: #fffef6;
$color-black: #000000;
$color-gray: #b8b8b6;

// Semantic colors
$colors: (
  'body-bg': $color-black,
  'page-bg': $color-off-white,
  'border': $color-black,
  'footer-text': $color-gray,
);

$btn-state-color: rgba(0, 0, 0, 0.5);

$btn-padding-y: 0.469rem;
$btn-padding-x: 1.063rem;
$btn-radius: 1.875rem;

$header-bar-padding-y: 1.5rem;
$header-bar-padding-x: 1.25rem;
$header-bar-gap-x: 2.438rem;

$hero-margin-top-sm: 4.563rem;
$hero-margin-top-md: 7.188rem;
$hero-margin-top-lg: 7.5rem;

$hero-margin-bottom-sm: 3.125rem;
$hero-margin-bottom-md: 9.188rem;
$hero-margin-bottom-lg: 10.813rem;

$hero-height: 256.09px;
$hero-spacer-height: 77.81vh;
$hero-pt: 23.94vh;
$hero-pb: 8.8vh;
