@use '@/styles/abstracts/mixins' as *;
@use '@/styles/base/typography' as *;
@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/functions' as *;
@use 'sass:map';

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 10px;
}

.hero__content {
  width: clamp(268px, calc(268px + (100vw - 320px) * 0.535), 639px);
  padding-top: $hero-content-pt-sm;
  padding-bottom: $hero-content-pb-sm;
  //padding-top: calc(126px + 3vw);
  //padding-bottom: calc(40px + 3vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__logo {
  $hero-mobile-logo: get-logo(hero-logo, mobile);
  width: map.get($hero-mobile-logo, width);
  height: map.get($hero-mobile-logo, height);
  margin-bottom: map.get($hero-mobile-logo, mb);
}

.hero__subtitle {
  font-family: 'Fahkwang';
  @include letter-spacing(map.get($letter-spacings, 50));
  @include font-size(map.get($font-sizes, hero-heading-2), mobile);
  @include font-weight(map.get($font-weights, 275));
  @include line-height(map.get($line-heights, 160));
  margin-bottom: get-spacer(38);
}

.hero__description {
  font-family: 'Fahkwang';
  @include letter-spacing(map.get($letter-spacings, 9));
  @include font-size(map.get($font-sizes, hero-description), mobile);
  @include font-weight(map.get($font-weights, 275));
  @include line-height(map.get($line-heights, 142));
  text-align: center;
  width: clamp(268px, calc(100% - 80px), 559px);
}

.hero__title {
  font-family: 'JejuMyeongjo';
  @include letter-spacing(map.get($letter-spacings, 9));
  @include font-size(map.get($font-sizes, hero-heading-1), mobile);
  @include font-weight(map.get($font-weights, 400));
  @include line-height(map.get($line-heights, 142));
  margin-bottom: get-spacer(12);
}

@media only screen and (min-width: 834px) {
  .hero__content {
    padding-top: $hero-content-pt-md;
    padding-bottom: $hero-content-pb-md;
    //padding-top: calc(181px + 3vw);
    //padding-bottom: calc(122px + 3vw);
  }

  .hero__logo {
    $hero-tablet-logo: get-logo(hero-logo, tablet);
    width: map.get($hero-tablet-logo, width);
    height: map.get($hero-tablet-logo, height);
    margin-bottom: map.get($hero-tablet-logo, mb);
  }

  .hero__title {
    @include font-size(map.get($font-sizes, hero-heading-1), tablet);
    margin-bottom: get-spacer(13);
  }

  .hero__subtitle {
    @include font-size(map.get($font-sizes, hero-heading-2), tablet);
    margin-bottom: get-spacer(52);
  }

  .hero__description {
    @include font-size(map.get($font-sizes, hero-description), tablet);
  }
}

@media only screen and (min-width: 1440px) {
  .hero__content {
    padding-top: $hero-content-pt-lg;
    padding-bottom: $hero-content-pb-lg;
    //padding-top: calc(168px + 3vw);
    //padding-bottom: calc(11px + 2vw);
  }

  .hero__logo {
    $hero-desktop-logo: get-logo(hero-logo, desktop);
    width: map.get($hero-desktop-logo, width);
    height: map.get($hero-desktop-logo, height);
    margin-bottom: map.get($hero-desktop-logo, mb);
  }

  .hero__title {
    @include font-size(map.get($font-sizes, hero-heading-1), desktop);
    margin-bottom: get-spacer(16);
  }

  .hero__subtitle {
    @include font-size(map.get($font-sizes, hero-heading-2), desktop);
    margin-bottom: get-spacer(58);
  }

  .hero__description {
    @include font-size(map.get($font-sizes, hero-description), desktop);
  }
}
