.video-card {
  position: relative;
  grid-column: 1 / -1;
  aspect-ratio: 16 / 9; // modern way, keeps 640x360 ratio
  @supports not (aspect-ratio: 16 / 9) {
    padding-top: 56.25%; // 360 ÷ 640 = 0.5625 = 56.25%
    height: 0;
  }

  &__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    background: transparent;
  }

  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
