@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/functions' as *;
@use '@/styles/base/typography' as *;
@use '@/styles/abstracts/mixins' as *;
@use 'sass:map';

.work-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: get-spacer(28);
  padding-bottom: get-spacer(28);
  width: 100%;
  justify-content: center;
}

.work-indicator__label {
  font-family: 'Fahkwang';
  @include letter-spacing(map.get($letter-spacings, 50));
  @include font-size(map.get($font-sizes, work-indicator), mobile);
  @include font-weight(map.get($font-weights, 275));
  @include line-height(map.get($line-heights, 160));
}

.work-indicator__line {
  width: 0.5px;
  height: 124px;
  background-color: currentColor;
}

@media only screen and (min-width: 834px) {
  .work-indicator__label {
    @include font-size(map.get($font-sizes, work-indicator), tablet);
  }
}
