@font-face {
  font-family: 'JejuMyeongjo';
  src: url('/fonts/JejuMyeongjo-Regular.woff2') format('woff2'),
    url('/fonts/JejuMyeongjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fahkwang';
  src: url('/fonts/Fahkwang-ExtraLight.woff2') format('woff2'),
    url('/fonts/Fahkwang-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LabGrotesque';
  src: url('/fonts/LabGrotesque-Light.woff2') format('woff2'),
    url('/fonts/LabGrotesque-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
