@use '@/styles/abstracts/variables' as *;

body {
  background: black; // shows behind pages
}

.page-content {
  padding-inline: 1rem;
  position: absolute;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(255, 254, 246, 1);
}

.page-content[data-page='home'] {
  padding-top: calc(($hero-content-pb-sm + $hero-content-pt-sm) + $hero-height-sm);
}

.page-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

@media only screen and (min-width: 834px) {
  .page-content {
    padding-inline: 2rem;
  }

  .page-content[data-page='home'] {
    padding-top: calc(($hero-content-pb-md + $hero-content-pt-md) + $hero-height-md);
  }
}

@media only screen and (min-width: 1440px) {
  .page-content {
    padding-inline: 4rem;
  }

  .page-content[data-page='home'] {
    padding-top: calc(($hero-content-pb-lg + $hero-content-pt-lg) + $hero-height-lg);
  }
}
