body {
  background: black; // shows behind pages
}

.page-content {
  position: absolute; /* <-- absolute so pages overlap */
  //top: 91px; /* offset for fixed header */
  padding-top: 91px;
  left: 0;
  width: 100vw; // match container width exactly
  min-height: 100vh;
  background: rgba(255, 254, 246, 1);
  overflow: hidden;
}

.page-container {
  position: relative;
  width: 100vw; // full viewport width
  height: 100vh; // full viewport height
  overflow: hidden;
}
