$font-sizes: (
  heading-1: (
    desktop: 24px,
    mobile: 16px,
  ),

  hero-heading-1: (
    mobile: 22px,
    tablet: 25px,
    desktop: 30px,
  ),

  hero-heading-2: (
    mobile: 10px,
    tablet: 13px,
    desktop: 16px,
  ),

  hero-description: (
    mobile: 16px,
    tablet: 22px,
    desktop: 22px,
  ),

  work-indicator: (
    mobile: 10px,
    tablet: 16px,
    desktop: 16px,
  ),

  body-sm: (
    mobile: 14px,
    desktop: 16px,
  ),

  body-lg: (
    mobile: 16px,
    desktop: 24px,
  ),

  link: (
    mobile: 16px,
    desktop: 18px,
  ),

  back-to-top: (
    mobile: 16px,
    desktop: 20px,
  ),

  card: (
    mobile: 12px,
    desktop: 14px,
  ),

  metric-value: (
    mobile: 44px,
    desktop: 65px,
  ),

  metric-label: (
    mobile: 14px,
    desktop: 24px,
  ),

  footer-legal: (
    mobile: 12px,
    desktop: 14px,
  ),

  footer-title: (
    mobile: 20px,
    desktop: 24px,
  ),
);

$line-heights: (
  24: 2,
  100: 1,
  142: 1.42,
  150: 1.5,
  160: 1.6,
  165: 1.65,
  171: 1.714,
);

$letter-spacings: (
  0: 0em,
  9: 0.09em,
  50: 0.5em,
);

$font-weights: (
  250: 250,
  275: 275,
  300: 300,
  400: 400,
  500: 500,
);
